<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">App Header</div>

<div> <b>Content 1</b></div>

<div>
  Cities (Components without separate module)
  <ul>
    <li>
      New York
    </li>
    <li>London</li>
    <li>Tokyo</li>
  </ul>
</div>

<hr />

<div> <b>Content 2</b></div>
<!-- TODO: extract this into separate component -->
<div>
  Food &#x2705;
  <ul>
    <li>Burger 🍔</li>
    <li>Kebab 🍢</li>
    <li>Sushi 🍣</li>
  </ul>
</div>



<router-outlet></router-outlet>